#Data is the foundation of data science and machine learning. Thousands upon thousands of data points are needed in order to analyze, visualize, draw conclusions, and build ML models. 

Dummy data can be useful in times where you know the exact features you’ll be using and the data types included but, you just don’t have the data itself.

#Faker is a Python package that generates fake data for you.
Faker has the ability to print/get a lot of different fake data, for instance, it can print fake name, address, email, text, etc.

In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-14.1.0-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 4.2 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-14.1.0

#Import Libraries

In [ ]:
# Libraries
import pandas as pd
#to generate unique ids
import uuid
#to generate random numbers
import random
from faker import Faker
import datetime

# Number of rows or users to create

In [ ]:

num_users = 100

#Add feature list


*   ID — a unique string of characters to identify each user.
*   Gender — string data type of three choices.

*   Subscriber — a binary True/False choice of their subscription status.
*   Name — string data type of the first and last name of the user.


*   Rating — integer type of a 1 through 5 rating of something.

In [ ]:
#  A list of 5 features
features = [
    "id",
    "gender",
    "subscriber",
    "name",
    "rating"
]

# Creating a DF for these features
df = pd.DataFrame(columns=features)

df

Empty DataFrame
Columns: [id, gender, subscriber, name, rating]
Index: []

#Creating Imbalanced Data
Some attributes above should normally contain imbalanced data. It can be safely assumed with some quick research, some choices will not be equally represented. For a more realistic dataset, these tendencies need to be reflected.

#Generate unique identifiers
UUID is a great library to generate unique IDs for each user because of its astronomically low chance of duplicating an ID.

In [ ]:
df['id'] = [uuid.uuid4().hex for i in range(num_users)]
df

                                  id gender subscriber name rating
0   0429445d97d041228302a814b956e272    NaN        NaN  NaN    NaN
1   b826af25a2d04af99a3bd95ce71a9905    NaN        NaN  NaN    NaN
2   34b9fe9331f846118ccd0090a636b053    NaN        NaN  NaN    NaN
3   790f65cb9dd24561a16ad87c41b78b0d    NaN        NaN  NaN    NaN
4   536656d5c36c41b5804e0f6cb704b84d    NaN        NaN  NaN    NaN
..                               ...    ...        ...  ...    ...
95  1e727194af6a4a09b9fc781f1b589a85    NaN        NaN  NaN    NaN
96  be9998e53b1e41ac9b77ab00ea3f5745    NaN        NaN  NaN    NaN
97  c7b2f5d075c0431d94490917892482fd    NaN        NaN  NaN    NaN
98  621ad2b4ae1b4328b57acc978213dea0    NaN        NaN  NaN    NaN
99  e560ea19b4f447fb87c8bcb450ddc482    NaN        NaN  NaN    NaN

[100 rows x 5 columns]

# Checking if all IDs are unique

In [ ]:
print(df['id'].nunique()==num_users)

True

#Generating Gender values
This attribute is one of the instances where an equally random choice should probably not be used. Because, it can be safely assumed that each choice is not equally likely to occur.

For gender, there could be three options: male, female, and na. However, if we were to use Python’s random library, then each choice might be equally shown in the dataset. In reality, there would be significantly more male and female than na choices.

In [ ]:
genders = ["male", "female", "na"]


df['gender'] = random.choices(
    genders, 
    weights=(45,45,10), 
    k=num_users
)

df

                                  id  gender subscriber name rating
0   0429445d97d041228302a814b956e272      na        NaN  NaN    NaN
1   b826af25a2d04af99a3bd95ce71a9905    male        NaN  NaN    NaN
2   34b9fe9331f846118ccd0090a636b053  female        NaN  NaN    NaN
3   790f65cb9dd24561a16ad87c41b78b0d    male        NaN  NaN    NaN
4   536656d5c36c41b5804e0f6cb704b84d    male        NaN  NaN    NaN
..                               ...     ...        ...  ...    ...
95  1e727194af6a4a09b9fc781f1b589a85    male        NaN  NaN    NaN
96  be9998e53b1e41ac9b77ab00ea3f5745  female        NaN  NaN    NaN
97  c7b2f5d075c0431d94490917892482fd    male        NaN  NaN    NaN
98  621ad2b4ae1b4328b57acc978213dea0  female        NaN  NaN    NaN
99  e560ea19b4f447fb87c8bcb450ddc482    male        NaN  NaN    NaN

[100 rows x 5 columns]

#Generating Subscriber values
For this attribute, the choices can be randomly selected between True and False. Since it can be reasonably expected that about half of the users would be subscribers.

In [ ]:
# Choices
choice = [True, False]

df['subscriber'] = random.choices(
    choice, 
    k=num_users
)

df

                                  id  gender  subscriber name rating
0   0429445d97d041228302a814b956e272      na        True  NaN    NaN
1   b826af25a2d04af99a3bd95ce71a9905    male        True  NaN    NaN
2   34b9fe9331f846118ccd0090a636b053  female        True  NaN    NaN
3   790f65cb9dd24561a16ad87c41b78b0d    male        True  NaN    NaN
4   536656d5c36c41b5804e0f6cb704b84d    male       False  NaN    NaN
..                               ...     ...         ...  ...    ...
95  1e727194af6a4a09b9fc781f1b589a85    male        True  NaN    NaN
96  be9998e53b1e41ac9b77ab00ea3f5745  female       False  NaN    NaN
97  c7b2f5d075c0431d94490917892482fd    male       False  NaN    NaN
98  621ad2b4ae1b4328b57acc978213dea0  female        True  NaN    NaN
99  e560ea19b4f447fb87c8bcb450ddc482    male        True  NaN    NaN

[100 rows x 5 columns]

#Generating Name values
Here we can use the Faker library to create thousands of names for all these users. The Faker library is great in this situation because it has an option for male and female names.

In [ ]:
# Instantiating faker
faker = Faker(locale="FR_FR")

def name_gen(gender):
    """
    Quickly generates a name based on gender
    """
    if gender=='male':
        return faker.name_male()
    elif gender=='female':
        return faker.name_female()
    
    return faker.name()

# Generating names for each user
df['name'] = [name_gen(i) for i in df['gender']]

df

,id,gender,subscriber,name,rating
0,0429445d97d041228302a814b956e272,na,True,Robert Lucas,NaN
1,b826af25a2d04af99a3bd95ce71a9905,male,True,Gilbert Reynaud Le Ollivier,NaN
2,34b9fe9331f846118ccd0090a636b053,female,True,Chantal Hamon,NaN
3,790f65cb9dd24561a16ad87c41b78b0d,male,True,Pierre Germain,NaN
4,536656d5c36c41b5804e0f6cb704b84d,male,False,Henri Gautier du Labbé,NaN
...,...,...,...,...,...
95,1e727194af6a4a09b9fc781f1b589a85,male,True,Laurent Humbert,NaN
96,be9998e53b1e41ac9b77ab00ea3f5745,female,False,Édith Jean,NaN
97,c7b2f5d075c0431d94490917892482fd,male,False,Yves Mahe-Marion,NaN
98,621ad2b4ae1b4328b57acc978213dea0,female,True,Pauline Hoarau-Moreno,NaN
99,e560ea19b4f447fb87c8bcb450ddc482,male,True,Aimé Gaudin,NaN

#Generate Ratings value
The rating of 1 to 5 represents anything and it’s just there for any discretionary purpose.

For the ratings themselves, we can chose to skew the distribution of 1 to 5 towards the extremes to reflect the tendency of users seemingly being more absolute with their ratings.

In [ ]:
# The different ratings available
ratings = [1,2,3,4,5]

# Weighted ratings with a skew towards the ends
df['rating'] = random.choices(
    ratings, 
    weights=(5,10,10,10,5), 
    k=num_users
)

df

,id,gender,subscriber,name,rating
0,0429445d97d041228302a814b956e272,na,True,Robert Lucas,4
1,b826af25a2d04af99a3bd95ce71a9905,male,True,Gilbert Reynaud Le Ollivier,2
2,34b9fe9331f846118ccd0090a636b053,female,True,Chantal Hamon,3
3,790f65cb9dd24561a16ad87c41b78b0d,male,True,Pierre Germain,3
4,536656d5c36c41b5804e0f6cb704b84d,male,False,Henri Gautier du Labbé,4
...,...,...,...,...,...
95,1e727194af6a4a09b9fc781f1b589a85,male,True,Laurent Humbert,2
96,be9998e53b1e41ac9b77ab00ea3f5745,female,False,Édith Jean,1
97,c7b2f5d075c0431d94490917892482fd,male,False,Yves Mahe-Marion,4
98,621ad2b4ae1b4328b57acc978213dea0,female,True,Pauline Hoarau-Moreno,1
99,e560ea19b4f447fb87c8bcb450ddc482,male,True,Aimé Gaudin,3

#Convert dataframe to dataset

In [ ]:
df.to_csv('dataset.csv')

In [ ]:
# Viewing the saved csv file
csv_df = pd.read_csv('dataset.csv', index_col=0)

csv_df